$('#results').html("<table class=\"table table.bordered\">"
  	 + "<tr> "
      + "   	<th>Product Name   </th>"
      + "      <th id=\"product_name\"><%= @name %>  </th> "
    + " </tr> "
     + "<tr> "
      + "     <th>Product SKU   </th>"
      + "      <th id=\"product_sku\"><%= @search_sku %>  </th> "
    + " </tr> "
     + "<tr> "
      + "     <td>Country Code   </td>"
      + "      <td><%= @country %>  </td> "
    + " </tr> "
    + "<tr> "
      + "     <td>Description  </td>"
      + "      <td><%= @description %>  </td> "
    + " </tr> "
    + "<tr> "
      + "     <td>Wieght   </td>"
      + "      <td><%= @weight%>  </td> "
    + " </tr> "
    + "<tr> "
      + "     <td>size   </td>"
      + "      <td><%= @size %>  </td> "
    + " </tr> "
    + "<tr> "
      + "     <td>manager name   </td>"
      + "      <td><%= @manager_name%>  </td> "
    + " </tr> "
  
+ " </table>");